{% extends 'home/layout.html' %}

{% block title %} Categories {% endblock %}


{% block stylesheet %}

.splide__slide .card-image {
   width: 350px;
   height: 240px;
   overflow: hidden;
}

.splide__slide .card-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

{% endblock %}


{% block content %}
<div class="wrapper">

<section class="section">
    <div class="container mt-4">
       <div class="row">
          <div class="col-lg-10 col-md-8 mx-auto">
          
             <h2 class="title mb-5">{{ category }} to Explore in Pangasinan</h2>
             
             {% for spot in spots %}
               <div class="card card-blog card-plain blog-horizontal mb-5">
                  <div class="row">
                     <div class="col-lg-5">
                        <div class="splide" id="splide-{{ spot.id }}">
                           <div class="splide__track">
                              <ul class="splide__list">
                                 {% for images in spot.images.all %}
                                 <li class="splide__slide">
                                    <div class="card-image shadow w-100">
                                       <a href="javascript:;">
                                          <img class="img rounded" src="{{ images.image.url }}">
                                       </a>
                                    </div>
                                 </li>
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-7">
                        <div class="card-body">
                           <h3 class="card-title text-capitalize">
                              <a href="{% url 'place-details' spot.id %}">{{ spot.name }}</a>
                           </h3>
                           <p class="card-description">
                              <span class="short-text">{{ spot.description|truncatewords:40 }}</span>
                              <span class="full-text" style="display: none;">{{ spot.description }}</span>
                              <a href="javascript:;" class="read-more">Read More</a>
                           </p>
                           <div class="author">
                              <div class="text">
                                 <i class="fa fa-map-marker fa-2x"></i>
                                 <span class="name">{{ spot.address }}, <span class="text-underline">{{ spot.city_or_town }}, Pangasinan</span></span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {% empty %}
               <p>None</p>
            {% endfor %}
          
           

          </div>
       </div>
    </div>
</section>

</div>

<section class="testimonials">

</section>



{% endblock %}


{% block js %}


<script>

   document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".splide").forEach(splideElement => {
          new Splide(splideElement, {
              type: 'fade',
              rewind: true,
          }).mount();
      });
  });
  

</script>


<script>
   document.addEventListener("DOMContentLoaded", function() {
      const readMoreLinks = document.querySelectorAll(".read-more");
  
      readMoreLinks.forEach(link => {
          link.addEventListener("click", function(event) {
              const cardDescription = event.target.closest(".card-description");
              const shortText = cardDescription.querySelector(".short-text");
              const fullText = cardDescription.querySelector(".full-text");
  
            
              if (fullText.style.display === "none") {
                  fullText.style.display = "inline";
                  shortText.style.display = "none";
                  link.textContent = "Read Less";
              } else {
                  fullText.style.display = "none";
                  shortText.style.display = "inline";
                  link.textContent = "Read More";
              }
          });
      });
  });
</script>
{% endblock %}