{% extends 'home/layout.html' %}


{% block title %} Hundred Islands {% endblock %}


{% block stylesheet %}

/* Set the dimensions for each slide */
.splide__slide img {
  width: 100%;   /* Set desired width */
  height: 550px;  /* Set desired height */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

/* Optional: center-align carousel */
.splide {
  display: flex;
  justify-content: center;
}
.responsive-div {
    width: 100%; /* Full width on small screens */
}

@media (min-width: 992px) {
    .responsive-div {
        width: 75%; /* 75% width on large screens */
    }
}


.rate {
    display: inline-block;
    text-align: center;
}

/* Styling for stars */
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}





{% endblock %}




{% block content %}



    <section class="section bg-white">
        <div class="responsive-div m-auto mt-5">
        
            <div class="d-flex justify-content-end mb-2 align-items-center mt-5">

    
                <div class="d-flex">
                    
                    <a href="" class="cursor-pointer font-weight-bold"><i class="fa fa-map-marker mx-2"></i>{{ spot.address }}, <span class="text-underline">{{ spot.city_or_town}}, Pangasinan </span></a>
                    <a href="javascript:void(0);" 
                    class="cursor-pointer toggle-favorite" 
                    data-spot-id="{{ spot.id }}" 
                    data-is-favorite="{{ is_favorite|yesno:"true,false" }}">
                     <i class="fa 
                         {% if is_favorite %}
                             fa-heart
                         {% else %}
                             fa-heart-o
                         {% endif %} mx-2"></i>Save
                 </a>
                </div>
            </div>
    
            <div class="card shadow p-3 rounded">
                <div class="row">

                    <div class="col-md-8">
                        <div class="splide">
                            <div class="splide__track">
                              <ul class="splide__list">
                                {% for img in images %}
                                    <li class="splide__slide">
                                        <img src="{{ img.image.url }}">
                                    </li>
                                {% endfor %}
                                <!-- Add more slides as needed -->
                              </ul>
                            </div>
                        </div>
        

                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h1 class="card-title">
                                    <a href="javascript:;">{{ spot.name }}</a>
    
                                </h1>
                                

                            </div>
                           <p class="card-description">
                              {{ spot.description }} <a href="javascript:;"> Read More </a>
                           </p>
                           <div class="author">
                              
                            {{ average|floatformat:1 }}
                            <span class="rating">
                                {% for i in "12345" %}
                                    {% if average >= i|add:0 %}
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                    {% elif average >= i|add:-0.5 %}
                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="far fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>

                                <br>
                                <a href="#info" type="button" class="btn btn-outline-info mt-3"><i class="fa fa-map"></i> View map directions</a>
 
                             
                           </div>
                        </div>



                    </div>


                </div>
            </div>

            <div class="">
                <div id="info">

                    <button id="toggleInstructions" class="btn btn-outline-info m-3">Show Instructions</button>
                    
                </div>
            
                <div id="map" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    
    </section>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 md-0 mt-4">
                <div class="card h-auto ">
                    <div class="card-header d-flex justify-content-between align-items-center">
                       <h5 class="text-capitalize">{{ total_reviews }} Reviews</h5>
                    </div>
                    <div class="card-body pt-0">

                        <ul class="list-group list-group-flush list">
                            <li class="list-group-item px-0 mb-2">
                                <div class="align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>
                                            {{ average|floatformat:1 }}
                                            <span class="rating">
                                                {% for i in "12345" %}
                                                    {% if average >= i|add:0 %}
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    {% elif average >= i|add:-0.5 %}
                                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                    {% else %}
                                                        <i class="far fa-star" aria-hidden="true"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item px-0">
                     
                                <h6>Excellent - {{ rating_counts.5 }} reviews</h6>

                            </li>

                            <li class="list-group-item px-0">
             
                                        <h6>Very Good - {{ rating_counts.4 }} reviews</h6>

                            </li>

                            <li class="list-group-item px-0">

                                        <h6>Average - {{ rating_counts.3 }} reviews</h6>

                            </li>

                            <li class="list-group-item px-0">
  
                                        <h6>Poor - {{ rating_counts.2 }} reviews</h6>

                            </li>

                            <li class="list-group-item px-0">

                                        <h6>Terrible - {{ rating_counts.1 }} reviews</h6>

                            </li>
                        </ul>


             

                        {% if request.user.is_authenticated %}
                       <button class=" mt-4 btn btn-outline-info btn-sm w-100" data-toggle="modal" data-target="#add-review">Write a review</button>
                        {% endif %}


                    </div>
                </div>
            </div>
        
            
   
            <div class="col-lg-8 col-12 md-0">


                <div class="card-body">
                    {% for test in testimonials %}

                    <div class="card h-100 w-100">
                        <div class="card-header d-flex justify-content-between align-items-center border-bottom py-3">
                          <div class="d-flex align-items-center">
                            <a href="javascript:;">
                              <img src="/static/assets/img/team-4.jpg" class="avatar" alt="profile-image">
                            </a>
                            <div class="mx-3">
                              <a href="javascript:;" class="text-dark font-weight-600 text-sm text-capitalize">{{ test.user.first_name}} {{ test.user.last_name}}</a>
                              <small class="d-block text-muted">{{ test.date_created|timesince }} ago</small>
                            </div>
                          </div>
                          <div class="text-end ms-auto">
                            <span class="text-primary text-sm font-weight-bold">
                                {% for i in "12345" %}
                                {% if test.rating >= i|add:0 %}
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                {% elif test.rating >= i|add:-0.5 %}
                                    <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                {% else %}
                                    <i class="far fa-star" aria-hidden="true"></i> <!-- Use 'far' class for empty stars -->
                                {% endif %}
                            {% endfor %}
                            </span>
                          </div>
                        </div>
                        <div class="card-body">
                            <h6>" {{ test.review_title }} "</h6>
                          <p class="mb-4">
                            {{ test.review_content }}
                          </p>
                          
                          {% if test.images.all %}
                          {% for image in test.images.all %}
                          <img alt="Image placeholder" src="{{ image.image.url }}" class="img-fluid border-radius-lg shadow-lg max-height-500">
                       
                          {% endfor %}
                          {% endif %}
                          <div class="row align-items-center px-2 mt-4 mb-2">
                            <div class="col">
                              <div class="d-flex">
                                <div class="d-flex align-items-center">
                                    <span class="text-sm me-3 font-weight-bold ">Visited in {{ test.month_visited }}, With {{ test.visited_with}}</span>
                            
                                  
                                </div>

                              </div>
                            </div>

                          </div>

                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>

           
         

            
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="add-review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Write a review</h5>
        </div>
        <form method="POST" action="{% url 'add_review' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <center>
                    <input type="hidden" value="{{ spot.id }}" name="spot_id" required>
                    <input type="hidden" value="" name="rating" required>
                    <h5> How would you rate your experience? </h5>
                    <div class="rate" style="text-align: center;">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </center>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="monthSelect">When did you go?</label>
                            <select class="form-control" name="month_visited" id="monthSelect" required>
                                <option value="">Select a month</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="monthSelect">Who did you go with?</label>
                            <select class="form-control" name="visited_with" required>
                                <option value="Solo">Solo</option>
                                <option value="Family" selected>Family</option>
                                <option value="Friends">Friends</option>
                                <option value="Couples">Couples</option>
                                <option value="Business">Business</option>
                            </select>
                        </div>
                    </div>

                
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Title your review</label>
                    <input type="text" name="review_title" class="form-control" id="" placeholder="Give us the gist of your experience" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Write your review</label>
                    <textarea class="form-control" id="" rows="2" placeholder="The views were amazing. We took so many photos!..." name="review_content" required></textarea>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Upload some photos<small> ( Optional ) </small> </label>
                    <input type="file" class="form-control" id="exampleFormControlInput1" name="image">
                    
                </div>


                


                <!-- Hidden input field to store the selected rating -->
                <input type="hidden" id="selected-rating" name="rating" value="">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="submit-btn" class="btn bg-primary text-white">Add review</button>
            </div>
        </form>
      </div>
    </div>
</div>



{% endblock %}



{% block js %}


<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.toggle-favorite').forEach(button => {
            button.addEventListener('click', function () {
                const touristSpotId = this.dataset.spotId;
                const isFavorite = this.dataset.isFavorite === 'true';
    
                fetch('/favorites/toggle/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken() // Get CSRF token from cookies
                    },
                    body: JSON.stringify({ tourist_spot_id: touristSpotId, action: isFavorite ? 'remove' : 'add' })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        this.dataset.isFavorite = data.is_favorite; // Update favorite status
                        const icon = this.querySelector('i');
                        icon.classList.toggle('fa-heart', data.is_favorite);
                        icon.classList.toggle('fa-heart-o', !data.is_favorite);
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
    
    // Helper to get CSRF token from cookies
    function getCSRFToken() {
        const cookieValue = document.cookie.split('; ').find(row => row.startsWith('csrftoken='));
        return cookieValue ? cookieValue.split('=')[1] : '';
    }

    
</script>

<script>
    // Disable the submit button by default
    const submitBtn = document.getElementById('submit-btn');
    submitBtn.disabled = true;

    document.querySelectorAll('.rate input').forEach((input) => {
        input.addEventListener('change', function() {
            // Update the hidden input with the selected rating value
            const ratingValue = this.value;
            document.getElementById('selected-rating').value = ratingValue;

            // Show the submit button only if a rating has been selected
            if (ratingValue) {
                submitBtn.disabled = false; // Enable the submit button
            } else {
                submitBtn.disabled = true;  // Keep it disabled if no rating is selected
            }
        });
    });
</script>




<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidmFuY2VlcSIsImEiOiJjbTFwMjFydWMxOTNpMmtvazYxZ2k0ejlzIn0.yFYzZ1HeE_0KJSyXGYqjRA';

    const destinationCoordinates = [{{ spot.longitude }}, {{spot.latitude}}]; // Coordinates for Hundred Islands National Park
    console.log(destinationCoordinates)
    navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
        enableHighAccuracy: true
    });
    
    function successLocation(position) {
        const userLocation = [position.coords.longitude, position.coords.latitude];
        setupMap(userLocation);
    }
    
    function errorLocation() {
        console.warn("Geolocation failed. Defaulting to Hundred Islands.");
        setupMap([{{ spot.longitude }}, {{spot.latitude}}]); // Use Hundred Islands as fallback
    }
    
    function setupMap(center) {
        const map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/streets-v11",
            center: center,
            zoom: 10 // Initial zoom level
        });

        const nav = new mapboxgl.NavigationControl();
        map.addControl(nav);

        // Initialize the Mapbox Directions plugin
        const directions = new MapboxDirections({
            accessToken: mapboxgl.accessToken,
            unit: 'metric',
            profile: 'mapbox/driving',
            interactive: false,
            controls: {
                inputs: false, // Disable input boxes for point A and B
                instructions: true, // Enable turn-by-turn instructions
                profileSwitcher: true // Enable profile selection
            }
        });

        map.addControl(directions, "top-left");

        // Set the user's location as the origin for directions (Point A)
        directions.setOrigin(center); // Current location

        // Set the destination (Point B)
        directions.setDestination(destinationCoordinates); // Hundred Islands National Park

        // Add markers for both locations
        const userMarker = new mapboxgl.Marker({ color: "blue" }) // User marker
            .setLngLat(center)
            .setPopup(new mapboxgl.Popup().setHTML("<h3>Your Location</h3>"))
            .addTo(map);

        const destinationMarker = new mapboxgl.Marker({ color: "red" }) // Destination marker
            .setLngLat(destinationCoordinates)
            .setPopup(new mapboxgl.Popup().setHTML("<h3>Hundred Islands National Park</h3>"))
            .addTo(map);

        // Fit the map to show both markers
        const bounds = new mapboxgl.LngLatBounds();
        bounds.extend(center);
        bounds.extend(destinationCoordinates);
        map.fitBounds(bounds, { padding: 50 }); // Adds padding around the markers

        // Listen for route changes and display ETA and distance
        directions.on('route', function(e) {
            if (e.route.length > 0) {
                const route = e.route[0];
                const etaMinutes = Math.round(route.duration / 60);
                const distanceKm = (route.distance / 1000).toFixed(1);
                
                document.getElementById('eta').innerText = `Estimated Travel Time: ${etaMinutes} minutes`;
                document.getElementById('distance').innerText = `Distance: ${distanceKm} km`;
            } else {
                document.getElementById('eta').innerText = `No route found.`;
                document.getElementById('distance').innerText = `Distance: N/A`;
            }
        });

        // Toggle instructions visibility
        const toggleButton = document.getElementById('toggleInstructions');
        toggleButton.addEventListener('click', function() {
            const instructionsElement = document.querySelector('.mapbox-directions-instructions'); // Access instructions directly using a selector
            if (instructionsElement) {
                if (instructionsElement.style.display === "none" || instructionsElement.style.display === "") {
                    instructionsElement.style.display = "block"; // Show instructions
                    toggleButton.innerText = "Hide Instructions"; // Change button text
                } else {
                    instructionsElement.style.display = "none"; // Hide instructions
                    toggleButton.innerText = "Show Instructions"; // Change button text
                }
            } else {
                console.warn("Instructions element not found.");
            }
        });
    }
</script>




<script>
    var splide = new Splide('.splide', {
      type     : 'loop',    // Enable looping
      autoplay : true,      // Enable autoplay
      interval : 3000,      // Interval between slides in milliseconds (e.g., 3000ms = 3 seconds)
      pauseOnHover: false,  // Optional: prevents pause on hover
      resetProgress: false, // Optional: prevents progress reset after each loop
    });
  
    splide.mount();
</script>




<!-- SCRIPT FOR SELECT OPTIONS-->

<script>
    // Get the current date
    const currentDate = new Date();
    const currentYear = currentDate.getFullYear();
    const monthSelect = document.getElementById('monthSelect');

    // Array of month names
    const monthNames = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    // Loop through the months and create options
    monthNames.forEach((month, index) => {
        const option = document.createElement('option');
        option.value = `${month} ${currentYear}`;
        option.textContent = `${month} ${currentYear}`;
        monthSelect.appendChild(option);
    });
</script>

{% endblock %}