{% extends 'home/admin/layout.html' %}

{% block title %} Users  {% endblock %}

{% block head %} {% endblock %}

{% block stylesheet %}

<style>

    #table_wrapper{
        padding: 10px;
      }
    
    </style>

{% endblock %}




{% block content %}


<div class="container-fluid my-4">


    <nav aria-label="breadcrumb align-items-center">


        <ol class="breadcrumb d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center">
                <h5 class="mt-2 d-none d-lg-block">Users</h5>
                <div class="vr mx-3 d-none d-lg-block "></div>
                <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Users</li>
        
            </div>

        

        </ol>
        <div class="form-group w-100 d-block d-sm-none">
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
              <input class="form-control" placeholder="Search" type="text">
            </div>
        </div>

        

    </nav>

    <div class="card">
        <div class="table-responsive ">
          <table class="table align-items-center mb-0 table-hover" id="table">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">ID</th>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Name</th>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ">Email</th>
                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Contact Number</th>
                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Date Joined</th>
                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Last Login</th>

              </tr>
            </thead>
            <tbody>

                {% for acc in users %}

                    <tr>
                        
                        <td class="">
                            <span class="text-secondary text-sm font-weight-bold ms-3 text-capitalize"><a href="{% url 'user-admin' acc.id %}">{{ acc.id }}</a></span>
                        </td>
                        <td class="">
                            <span class="text-secondary text-sm font-weight-bold ms-3 text-capitalize"><a href="{% url 'user-admin' acc.id %}">{{ acc.first_name }} {{ acc.last_name }}</a></span>
                        </td>

                        <td>
                            <span class="text-default text-sm font-weight-bold">{{ acc.email }}</span>
                        </td>

                        <td class="text-center text-sm">
                            <span class="text-secondary text-sm font-weight-bold">{{ acc.tourist.contact_number }}</span>
                        </td>

                        <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-sm font-weight-bold">{{ acc.date_joined }}</span>
                        </td>

                        <td class="align-middle text-center">
                            <span class="text-secondary text-sm font-weight-bold">{{ acc.last_login }}</span>
                        </td>



                    </tr>

                {% endfor %}
         
            </tbody>
          </table>
        </div>
    </div>


</div>

{% endblock %}


{% block js %}

<script>
    let table = new DataTable('#table')
    </script>

    
{% endblock %}