<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-default navbar-dark  headroom py-2">
  <div class="container">
     <a class="navbar-brand mr-lg-5 text-white" href="/">
     <img src="./assets/img/brand/white.png">
     PangasinanExpo
     </a>
     <form class="w-100 d-lg-block d-none" role="search">
        <div class="search">
           <i class="fa fa-search text-dark"></i>
           <input type="text" class="form-control" id="searchInput" placeholder="Search here....">
           <div class="suggestions" id="suggestions"></div>
        </div>
     </form>

     <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse" id="navbar_global" style="">
        <div class="navbar-collapse-header">
           <div class="row">
              <div class="col-6 collapse-brand">
                 <a href="./index.html">
                 <img src="./assets/img/brand/blue.png">
                 PangasinanExpo
                 </a>
              </div>
              <div class="col-6 collapse-close">
                 <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                 <span></span>
                 <span></span>
                 </button>
              </div>
           </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">

           <li class="nav-item dropdown">
              <a href="javascript:;" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-single-copy-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Categories</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                 <a class="dropdown-item" href="{% url 'categories' 'Beach' %}">
                    <img src="/static/assets/img/svg/beach2.svg" alt="Beach Icon" width="25" height="25" class="mr-3">
                    Beach
                 </a>
                 <a class="dropdown-item" href="{% url 'categories' 'Mountains' %}">
                    <img src="/static/assets/img/svg/mountains.svg" alt="Beach Icon" width="25" height="25" class="mr-3"> Mountains
                 </a>
                 <a class="dropdown-item" href="{% url 'categories' 'Falls' %}">
                    <img src="/static/assets/img/svg/waterfalls.svg" alt="Beach Icon" width="25" height="25" class="mr-3"> Waterfalls
                 </a>
                 <a class="dropdown-item" href="{% url 'categories' 'Rivers' %}">
                    <img src="/static/assets/img/svg/river.svg" alt="Beach Icon" width="25" height="25" class="mr-3"> Rivers
                 </a>
                 <a class="dropdown-item" href="{% url 'categories' 'Churches' %}">
                    <img src="/static/assets/img/svg/church.svg" alt="Beach Icon" width="25" height="25" class="mr-3"> Churches
                    </a>
                 <a class="dropdown-item" href="{% url 'categories' 'Others' %}">
                    <img src="/static/assets/img/svg/other.svg" alt="Beach Icon" width="25" height="25" class="mr-3"> Others
                 </a>

              </div>
           </li>
           <li class="nav-item">
              <a href="{% url 'accommodations' %}" class="nav-link" role="button">
              <i class="ni ni-tablet-button d-lg-none"></i>
              <span class="nav-link-inner--text">Accommodations</span>
              </a>

           </li>


           {% if request.user.is_authenticated %}

            <li class="nav-item dropdown">
               <a href="javascript:;" class="btn btn-white" data-toggle="dropdown" role="button">
               
               <span class="nav-link-inner--text">Account</span>
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <!-- IF accomodation -->
                  <a class="dropdown-item" href="">
                     <i class="ni ni-lock-circle-open text-muted"></i>
                     Dashboard
                  </a>
                  <a class="dropdown-item" href="">
                     <i class="ni ni-lock-circle-open text-muted"></i>
                     Write a review
                  </a>
                  <a class="dropdown-item" href="{% url 'add-accommodation-page' %}">
                     <i class="ni ni-lock-circle-open text-muted"></i>
                     Add accommodation
                  </a>
                  <a class="dropdown-item" href="">
                  <i class="ni ni-lock-circle-open text-muted"></i>
                  Account Settings
                  </a>
                  <a class="dropdown-item" href="">
                  <i class="ni ni-tv-2 text-danger"></i>
                  Sign out
                  </a>

               </div>
            </li>
           {% else %}

           <li class="nav-item dropdown">
              <a href="{% url 'auth-page' %}" class="btn btn-white">
              <i class="ni ni-basket d-lg-none"></i>
              <span class="nav-link-inner--text">Login</span>
              </a>
           </li>

           {% endif %}


        </ul>
     </div>
  </div>
</nav>
