{% extends 'home/layout.html' %}


{% block title %} Manage Accommodation | {{ user.first_name }} {{ user.last_name }}  {% endblock %}


{% block stylesheet %}


    .accommodation_splide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px; /* Adjust height as needed */
    
      }
    
      .splide__slide .card-image {
        width: 500px;
        height: 300px;
        overflow: hidden;
      }
    
      .splide__slide .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    

      #accommodation_table_wrapper{
        padding: 10px;
      }


{% endblock %}


{% block content %}


<div class="container my-4">


    <nav aria-label="breadcrumb align-items-center">


        <ol class="breadcrumb d-flex align-items-center justify-content-between w-100">

            <div class="d-flex align-items-center">
                <h5 class="mt-2">Manage Accommodation</h5>
                <div class="vr mx-3 d-none d-lg-block "></div>
                <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ accommodation.name }}</li>
        
            </div>

            <button class="btn-sm btn btn-primary" data-toggle="modal" data-target="#add_room_modal"><i class="fa fa-plus"></i> Add new room </button>




        </ol>

    
    
    </nav>

      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-primary" role="alert" id="alert-{{ forloop.counter }}">
            {{ msg }}
          </div>
        {% endfor %}
      {% endif %}

    <div class="card">
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">Bookings</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#images" role="tab" aria-controls="profile" aria-selected="false">Rooms</a>
          </li>

        </ul>
      
        <!-- Tab Content -->
        <div class="tab-content mt-3" id="myTabContent">
          <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">

   
                <div class="table-responsive ">
                  <table class="table align-items-center mb-0 table-hover" id="accommodation_table">
                    <thead>
                      <tr>
                        <th class=" text-uppercase text-dark text-sm font-weight-bolder opacity-7">Tourist</th>
                        <th class="text-uppercase text-dark text-sm font-weight-bolder opacity-7 ps-2">Room Type</th>
                        <th class="text-center text-dark text-uppercase text-sm font-weight-bolder opacity-7 ">Date Created</th>
                        <th class="text-center text-dark text-uppercase text-sm font-weight-bolder opacity-7 ">Check in Date</th>
                        <th class="text-center text-dark text-uppercase text-sm font-weight-bolder opacity-7">Check out Date</th>
                        <th class="text-center text-dark text-uppercase text-sm font-weight-bolder opacity-7">Length of Stay </th>
                        <th class="text-center text-dark text-uppercase text-sm font-weight-bolder opacity-7">Total price</th>
                        <th class="text-center text-dark text-uppercase text-sm font-weight-bolder opacity-7">Status</th>
        
                        <th class="text-center text-uppercase  text-sm font-weight-bolder opacity-7"></th>
        
                      </tr>
                    </thead>
                    <tbody>
        
            
                        {% for booking in bookings %}
                            <tr>
                                
                                <td class="">
                                    <span class="text-secondary text-sm font-weight-bold ms-3 text-capitalize"><a href="">{{ booking.guest.first_name }} {{  booking.guest.last_name }}</a></span>
                                </td>
        
                                <td>
                                    <span class="text-default text-sm font-weight-bold"><a href="" class="text-primary">{{ booking.room.room_type }} - ₱ {{ booking.room.price_per_night }} / night</a></span>
                                </td>
        
                                <td class="text-center text-sm">
                                  <span class="text-dark text-sm font-weight-bold">{{ booking.date_created }}</span>
                                </td>

                                <td class="text-center text-sm">
                                    <span class="text-dark text-sm font-weight-bold">{{ booking.check_in_date }}</span>
                                </td>
        
                                <td class="align-middle text-center text-sm">
                                    <span class="text-dark text-sm font-weight-bold">{{ booking.check_out_date }}</span>
                                </td>
        
                                <td class="align-middle text-center">
                                    <span class="text-dark text-sm font-weight-bold">{{ booking.length_of_stay }}</span>
                                </td>

                                <td class="align-middle text-center">
                                    <span class="text-dark text-sm font-weight-bold">₱ {{ booking.total_price }}</span>
                                </td>
        
                                <td class="align-middle text-center">
                                    {% if booking.status == 'Confirmed' %}
                                    <span class="badge text-white bg-gradient-success">{{ booking.status }}</span>
                                    {% elif booking.status == 'Cancelled' %}
                                    <span class="badge text-white bg-gradient-danger">{{ booking.status }}</span>
                                    {% elif booking.status == 'Pending' %}
                                    <span class="badge text-white bg-gradient-warning">{{ booking.status }}</span>
        
                                    {% endif %}
                                </td>
        
                                <td class="align-middle">
        
                                    {% if booking.status == 'Pending' %}
                                      <a href="javascript:void(0);" class="text-primary font-weight-bold text-sm approve-booking" data-id="{{ booking.id }}" data-toggle="tooltip" data-original-title="Approve booking">
                                        <i class="fa fa-check-circle"></i> Approve
                                      </a>
                                      | 
                                      <a href="javascript:void(0);" class="text-danger font-weight-bold text-sm deny-booking" data-id="{{ booking.id }}" data-toggle="tooltip" data-original-title="Deny booking">
                                        <i class="fa fa-trash"></i> Deny
                                      </a>

                                    {% endif %}
        
        
                                </td>
        
                            </tr>
                        {% empty %}



                        {% endfor %}
        
                  
                 
                    </tbody>
                  </table>
                </div>
         
        



          </div>

          <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container">
       
                <div class="row d-flex">
                    {% for room in rooms %}
                        <div class="col-md-4 mb-2">
                          <div class="card bg-secondary h-100" style="border-radius: 24px">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                              <a href="javascript:;" class="d-block">
                                <div class="splide" id="splide-{{ room.id }}">
                                  <div class="splide__track">
                                    <ul class="splide__list">
                                      {% for images in room.images.all %}
                                      <li class="splide__slide">
                                        <div class="card-image shadow w-100">
                                          <a href="javascript:;">
                                            <img class="img-fluid" src="{{ images.image.url }}" style="border-radius:16px 16px 0 0;">
                                          </a>
                                        </div>
                                      </li>
                                      {% endfor %}
                                    </ul>
                                  </div>
                                </div>
                              </a>
                            </div>
                            
                            <div class="card-body pt-2 d-flex flex-column">
                              <span>Room type: <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ room.room_type }}</span></span>
                              
                              <a href="javascript:;" class="card-title h5 d-block text-darker font-weight-bold">
                                ₱ {{ room.price_per_night }} <small class="text-sm text-muted">/ per night</small>
                              </a>
                              <p class="card-description mb-2 flex-grow-1">
                                <ul class="list-unstyled my-2">
                                  {% for amenity in room.get_amenities_list %}
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <div class="icon icon-xs icon-shape icon-shape-default shadow rounded-circle">
                                          <i class="ni ni-folder-17 text-white"></i>
                                        </div>
                                      </div>
                                      <div>
                                        <span class="pl-2 text-sm"><a href="javascript:;">{{ amenity }}</a></span>
                                      </div>
                                    </div>
                                  </li>
                                  {% empty %}
                                  <li>No amenities listed.</li>
                                  {% endfor %}
                                </ul>
                              </p>


                              <div class="author align-items-center">
                      
                    
                                    <span class="text-md">Good for {{ room.capacity }} people </span>
                          
                              </div>

                            </div>
                              <!--
                                <div class="card-footer bg-transparent">

                                  <a type="button" class="btn btn-primary text-white" 
                                  data-toggle="modal" 
                                  data-target="#book-modal" 
                                  data-room-type="{{ room.room_type }}" 
                                  data-price="{{ room.price_per_night }}" 
                                  data-room-id="{{ room.id }}"
                                  data-capacity="{{ room.capacity }}">
                                  Update
                                </a>
                                </div>
                              -->
                          </div>
                        </div>
                    {% endfor %}
                  </div>


            </div>
          </div>

        </div>

    </div>

</div>


<!-- Check Availability Modal -->
<div class="modal fade" id="add_room_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Room </h5>
          <span aria-hidden="true"><a type="button" class="text-danger" data-dismiss="modal">&times;</a></span>
       
      </div>

      <form action="{% url 'add_room_accommodation' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <input type="hidden" name="accommodation" value="{{ accommodation.id }}">

        

        <div class="modal-body">

          <div class="form-group">
            <label for="example-date-input" class="form-control-label">Room Type: </label>
            <input class="form-control" type="text" name="room_type" required>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="example-date-input" class="form-control-label">Good for: </label>
                <input class="form-control" type="number" name="capacity" required>
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label for="example-date-input" class="form-control-label">Rate per night: </label>
                <input class="form-control" type="number" name="price_per_night" placeholder="₱" required>
              </div>

            </div>

          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Room Amenities:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="amenities"></textarea>
            <small>Separate each amenity with a comma </small>
          </div>

          <div class="form-group">
            <label for="example-date-input" class="form-control-label">Upload Room Images: </label>
            <input class="form-control" type="file" name="images" placeholder="₱" accept="image/*" multiple required>
          </div>




        </div>

        <div class="modal-footer bg-transparent">
          <button type="submit" class="btn-sm btn bg-gradient-default text-white">Add room</button>
        </div>

      </form>


    </div>
  </div>
</div>


{% endblock %}


{% block js %}
<script src="/static/assets/js/bootstrap.min.js"></script>

<script>

  let table = new DataTable('#accommodation_table')
  
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initialize Splide for each room
        var roomSplides = document.querySelectorAll('.splide');
        roomSplides.forEach(function(splideElement) {
            new Splide(splideElement, {
                type     : 'loop',  
                autoplay : false,      
                interval : 3000,      
                pauseOnHover: false,  
                resetProgress: false, 
            }).mount();
        });
    });
</script>


<!-- SweetAlert2 -->
<script src="/static/assets/js/sweetalert2@11"></script>

<script>
  // SweetAlert for approving booking
  document.querySelectorAll('.approve-booking').forEach(item => {
    item.addEventListener('click', function(e) {
      e.preventDefault();
      const bookingId = this.getAttribute('data-id');
      
      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to approve this booking.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, approve it!',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = `/approve-booking/${bookingId}/`;  // URL to approve booking
        }
      });
    });
  });

  // SweetAlert for denying booking
  document.querySelectorAll('.deny-booking').forEach(item => {
    item.addEventListener('click', function(e) {
      e.preventDefault();
      const bookingId = this.getAttribute('data-id');
      
      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to deny this booking.',
        icon: 'error',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, deny it!',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = `/cancel-booking/${bookingId}/`;  // URL to cancel booking
        }
      });
    });
  });
</script>


<script>
  window.onload = function() {
    // Loop through all alert messages
    {% for msg in messages %}
      setTimeout(function() {
        var alertElement = document.getElementById('alert-{{ forloop.counter }}');
        if (alertElement) {
          alertElement.style.display = 'none';
        }
      }, 3000); // 3000ms = 3 seconds
    {% endfor %}
  };
</script>

{% endblock %}